/*colors*/
:root {
  --clr-blue: #366eb1;
  --clr-orange: #d5951e;
  ---clr-black: #454545;
}
body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}
li {
  padding: 10px 0;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game-board {
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.turn {
  text-transform: uppercase;
  color: var(---clr-black);
}
.turn {
  text-decoration: none;
}
.turn:hover,
.turn:focus {
  color: var(--clr-orange);
}
.turn.active {
  color: var(--clr-blue);
}
.btn-orange {
  color: #fff;
  background-color: var(--clr-orange);
}
.btn-orange:hover,
.btn-orange:focus {
  color: #fff;
  background-color: var(--clr-blue);
}
